.game-board {
  border: 10px solid #2B3332;
}

.tile {
  padding: 16px;
  border: 1px solid #2B3332;
}

.tile img {
  width: 64px;
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.no-click {
   pointer-events: none;
}
